@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    color: #030616;
    font-weight: 400;
    font-size: 1rem;
}
.heading {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2.25rem;
}
.heading-2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.5rem;
}

header {
    text-align: center;
    margin: 70px auto;
    background-color: #FFFFFF;
}

main {
    background-color: #F8FAFC;
    padding: 100px 0;
}

hr {
    border: none;
    height: 2px;
    background-color: #D2D5DA;
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    padding: auto;
}

section {
    width: 600px;
    margin: 0 auto;
}

hr {
    width: 600px;
    margin: 30px auto;
}

a {
    color: #4E80EE;
}